<section>
     <h1>Net Worth</h1>
     <p>{{transactionString}}</p>
     <!-- <div *ngIf="transactionData">
          <ngx-charts-area-chart
               [view] ="view"
               [legend]="legend"
               [showXAxisLabel]="showXAxisLabel"
               [showYAxisLabel]="showYAxisLabel"
               [xAxis]="xAxis"
               [yAxis]="yAxis"
               [xAxisLabel]="xAxisLabel"
               [yAxisLabel]="yAxisLabel"
               [timeline]="timeline"
               [results]="transactionData"   
          >

          </ngx-charts-area-chart>
     </div> -->
</section>
