
<br>
<h3>Top Gainers</h3>
<br>

<table class="table table-striped table-responsive-md btn-table">
    <tbody>
      <tr *ngFor="let quote of gainers.quotes; index as i">
        <th scope="row">{{i+1}}</th>
        <td>
          <button mdbBtn class="btn btn-{{tickerColor[i]}}" type="button" mdbWavesEffect>{{quote.symbol}}</button>
        </td>
        <td>{{tickerInfoShortName[i]}}</td>
        <td class="green-icon">{{tickerInfoFiftyDayAverageChangePercent[i]}}%<mat-icon>trending_up</mat-icon></td>
      </tr>
    </tbody>
  </table>